@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1>Lista de procutos</h1>
    <br />
    <div class="row">
        <div class="col-6">
            <table class="table">
                <thead class="">
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">$</th>
                        <th scope="col">Fecha </th>
                    </tr>
                </thead>
                <tbody id="tbBody">
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/signalr/dist/browser/signalr.js"></script>

    <script>
        var connection = new signalR.HubConnectionBuilder().withUrl("/productHub").build();

        //consultamos la conexion si se realizo o no.
        connection.start().then(()=>console.log("Conexion exitosa..."))
        .catch(function(err){
            return console.error(err.toString());
        });

        setInterval(()=>{

            connection.invoke("GetTask").catch(err => console.log(err));

        }, 5000);

        //Obtenemos los datos de la base de datos o de los datos, recien almacenado.

        connection.on("ReceiveProduct", (res) => {
            console.log(res);

            document.getElementById("tbBody").innerHTML = "";

            res.map(element => {
                var tr = document.createElement("tr");

                var filaCelda = `<tr><td>${element.nameProduct}</td><td>${element.priceProduct}</td><td>${element.fchMovt}</td>
                                </tr>`;

                tr.innerHTML = filaCelda;

                document.getElementById("tbBody").append(tr);
            });
        });

    </script>

}